<html>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
      
        <div ng-app="myApp" ng-controller="myAnchor">
          <button id="top" ng-click="scrollTo('bottom')">Go to Bottom of the page</button>
           <br>
           <br>
          <h>
            Chris Gayle
            Chris Gayle at the Docklands playing for the ICC World XI, 2005
            Personal information
            Full name:Christopher Henry Gayle<br>
            Born:	21 September 1979 (age 38)<br>
            Kingston, Jamaica
            NickName: Gayle-Force, Gayle Storm, World Boss, Universe Boss[1]<br>
            Height	6 ft 3 in (1.91 m)<br>
            Batting	Left-handed<br>
            Bowling	Right-arm off break<br>
            Role	Opening batsman<br>
            International information<br><br>
            National side
            <br>
            <br>	
            West Indies
            Test debut (cap 230)	16 March 2000 v Zimbabwe
            Last Test	5 September 2014 v Bangladesh
            ODI debut (cap 97)	11 September 1998 v India
            Last ODI	21 March 2018 v Scotland
            <br><br>
            ODI shirt no.	45
            T20I debut (cap 6)	16 February 2006 v New Zealand
            Last T20I	9 July 2017 v India
            <br>
            <br>
            Domestic team information
            Years	Team
            1998–present	Jamaica <br>
            2005	Worcestershire <br>
            2008	Stanford Superstars <br>
            2008–2010	Kolkata Knight Riders <br>
            2009–2011	Western Australia <br>
            2011–2017	Royal Challengers Bangalore <br>
            2011–2013	Sydney Thunder <br>
            2011	Matabeleland Tuskers <br>
            2012	Barisal Burners <br>
            2013–2016	Jamaica Tallawahs <br>
            2013	Dhaka Gladiators <br>
            2014	Highveld Lions <br>
            2015–2016	Melbourne Renegades, Somerset <br>
            2015	Barisal Bulls <br> <br>
            2016	Lahore Qalandars, Chittagong Vikings <br>
            2017	Karachi Kings, Rangpur Riders, St Kitts and Nevis Patriots <br>
            2018–present	Multan Sultans, Kings XI Punjab <br>
            <br> <br>

            Career statistics
            Competition	Test	ODI	T20	FC
            <br> <br>
            Matches	103	275	309	180
            Runs scored	7,214	9,543	10,571	13,226
            Batting average	42.18	37.42	40.50	44.83
            100s/50s	15/37	23/48	21/65	32/64
            Top score	333	215	175*	333
            Balls bowled	7,109	7,222	1,867	12,511
            Wickets	73	163	78	132
            Bowling average	42.73	35.20	30.15	38.91
            5 wickets in innings	2	1	0	2
            10 wickets in match	0	0	0	0
            Best bowling	5/34	5/46	4/22	5/34
            Catches/stumpings	96/–	115/–	76/–	158/–
            Source: ESPNCricinfo, 21 December 2017
            Christopher Henry Gayle, OD (born 21 September 1979) is a Jamaican cricketer who plays international cricket for the West Indies.[2] Gayle captained the West Indies' Test side from 2007 to 2010. Considered one of the greatest batsmen in limited-overs cricket, Gayle has set numerous records across all three formats of cricket. He is widely acknowledged as one of the most destructive batsman in the history of the game, particularly in Twenty20. He is well known for hitting sixes; in 2012 he became the first player to hit a six off the first ball of a Test match.[3]
            
            He is one of only four players who have scored two triple centuries at Test level: 317 against South Africa in 2005, and 333 against Sri Lanka in 2010. Gayle became the first batsman in World Cup history to score a double century when he reached 200 off 138 balls against Zimbabwe during the 2015 World Cup. He finished on 215 runs, which was the record for highest score in a World Cup until it was broken by Martin Guptill against Gayle's own team.[4] He is one of the five players to score a double century in ODIs. In March 2016, Gayle became only the second player (after Brendon McCullum) to hit two Twenty20 International hundreds, scoring 100 not out against England.
            
            He plays domestic cricket for Jamaica, and also represents the Kings XI Punjab in the Indian Premier League, the Karachi Kings[5][6] in the Pakistan Super League, the Melbourne Renegades in the Big Bash League and the Rangpur Riders in the Bangladesh Premier League. He has also represented Worcestershire, the Western Warriors, Sydney Thunder, Barisal Burners, Kolkata Knight Riders and Somerset in his career.
          </h>
          <br>
          <button id="bottom" ng-click="scrollTo('top')">Go to top of the page</button>
        </div>
        
    </body>
</html>